<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stay Alive 🏃🏼‍♂️</title>
    </head>

    <body>
        <!-- GAME OVER MESSAGE -->
        <div id="game-over-message">
            <span>GAME OVER 💀</span>
        </div>

        <!-- CURRENT SCORE -->
        <div id="current-score" class="text-center">
            <p id="current-score-value"></p>
            <p id="current-score-lifes"></p>
        </div>

        <!-- GAME -->
        <div id="game-container">

        </div>
    </body>

</html>
