<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stay Alive 🏃🏼‍♂️</title>
    </head>

    <body>
        <!-- LOGIN -->
        <div id="login">

        </div>

        <!-- SCORE -->
        <div id="current-score">
            <div id="current-score-value"></div>
            <div id="current-score-lifes"></div>
        </div>

        <!-- MAIN PANEL -->
        <div id="main-panel">
            <div class="modal-background"></div>
            <div class="modal">
                <div class="container-fluid h-100">

                    <!-- SCORE -->
                    <div class="row text-center">
                        <h3 class="text-uppercase">SCORE: <small id="score-value"></small></h3>
                    </div>

                    <!-- HIGHEST SCORE -->
                    <div class="row text-center">
                        <h5 class="text-uppercase">HIGHEST SCORE: <small id="highest-score-value"></small></h5>
                    </div>

                    <!-- NEW RECORD -->
                    <div class="row text-center">
                        <h5 class="text-uppercase"></h5>
                    </div>

                </div>
            </div>
        </div>

        <div id="game-container">

        </div>
    </body>

</html>
