html,
body {
    font-family: Helvetica, monospace;
    font-weight: 100;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#current-score {
    top: 20;
    left: 20;
    height: 100;
    z-index: 9997;
    position: fixed;
    min-width: 100;
    text-align: center;
    letter-spacing: 10;
}

#current-score-value {
    position: relative;
    font-size: 40;
}

#current-score-lifes {
    position: relative;
    font-size: 15px;
}

.modal-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9998;
    display: block;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.modal {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.card {
    min-width: 300;
    border-radius: 20;
    -webkit-box-shadow: 0 0 90 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 90 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 90 0 rgba(0, 0, 0, 0.4);
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.col {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

.h-100 {
    height: 100%;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}
