html,
body {
    font-family: Helvetica, monospace;
    font-weight: 100;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#score {
    top: 20px;
    left: 20px;
    height: 100px;
    z-index: 9999;
    position: fixed;
    min-width: 100px;
    text-align: center;
    letter-spacing: 10px;
}

#score-value {
    position: relative;
    font-size: 40px;

}

#score-lifes {
    position: relative;
    font-size: 15px;
}
