html,
body {
    font-family: Helvetica, monospace;
    font-weight: 100;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.circle {
    border-radius: 50% !important;
    height: 120px !important;
    width: 120px !important;
}
